<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated escenariosCalidad -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="escenariosCalidad.presentation.EscenariosCalidadModelWizardID"
            name="%_UI_EscenariosCalidadModelWizard_label"
            class="escenariosCalidad.presentation.EscenariosCalidadModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EscenariosCalidadModelFile.gif">
         <description>%_UI_EscenariosCalidadModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated escenariosCalidad -->
      <editor
            id="escenariosCalidad.presentation.EscenariosCalidadEditorID"
            name="%_UI_EscenariosCalidadEditor_label"
            icon="icons/full/obj16/EscenariosCalidadModelFile.gif"
            extensions="escenarioscalidad"
            class="escenariosCalidad.presentation.EscenariosCalidadEditor"
            contributorClass="escenariosCalidad.presentation.EscenariosCalidadActionBarContributor">
      </editor>
   </extension>

</plugin>
